email: a google account's email (should have a google play music subscription)
password: your google account's password (need to set up app-specific password if using two-factor authentication)
android_id: an android device id
hello: this is not used
