img.album-art {
    height: 128px;
    width: auto;
    vertical-align: text-bottom;
}

img.currently_playing_album_art {
    height: 72px;
    width: auto;
    vertical-align: text-bottom;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
}

#search-results-field {
    position: fixed;
    top: 120px;
    bottom: 100px;
    overflow: auto;
    width: 100%;
}

#header {
    position: relative;
    top: 0;
    height: 120px;
    width: 100%;
}