{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{%static 'css/jukebox.css' %}" type="text/css">
<link rel="stylesheet" href="{%static 'css/bootstrap.css' %}" type="text/css">
<link rel="stylesheet" href="{%static 'css/angular-material.css' %}" type="text/css">
<script src="{% static 'js/angular.js' %}" type="text/javascript"></script>
<script src="{% static 'js/angular-animate.js' %}" type="text/javascript"></script>
<script src="{% static 'js/angular-aria.js' %}" type="text/javascript"></script>
<script src="{% static 'js/angular-material.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jukebox.js' %}" type="text/javascript"></script>
<head>
    <meta charset="UTF-8">
    <title>VDP Jukebox</title>
</head>
<body>
<div ng-app="jukebox" ng-controller="jukeboxCtrl" md-theme="jukeboxTheme">
    <md-toolbar id="header">
        <h2 flex md-truncate>VDP Jukebox</h2>
        <div class="md-toolbar-tools">

            <md-input-container style="color: white; width: 50%;" flex>
                <form ng-submit="search()">
                    <label class="md-accent" style="color: white;">Search for a song, artist, or album</label>
                    <input type="text" ng-model="query" name="query" style="color: white;" />
                </form>
            </md-input-container>
            <md-button ng-click="play()">Start Jukebox</md-button>
            <md-button ng-click="pause()">Play/Pause</md-button>
            <md-button ng-click="skip()">Skip Song</md-button>
        </div>

    </md-toolbar>
    <div id="search-results-field">
        <table ng-hide="showPlaylist" class="table table-striped">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="song in search_results">
                <td><img src="[[song.track.albumArtRef[0].url]]" class="album-art"></td>
                <td>[[song.track.title]]</td>
                <td>[[song.track.artist]]</td>
                <td>[[song.track.album]]</td>
                <td>[[millisToMinutesAndSeconds(song.track.durationMillis);]]</td>
                <td><md-button class="md-primary md-raised" ng-click="addSong(song)" >Add to Playlist</md-button></td>
                <td><md-button class="md-primary md-raised" ng-click="addStation(song)">Add Station to Playlist</md-button></td>
                <td><md-button class="md-primary md-raised" ng-click="addNext(song)">Play Next</md-button></td>
            </tr>
        </table>
        <table ng-show="showPlaylist" class="table table-inverse">
            <tr ng-repeat="song in playlist">
                <td><img class="currently_playing_album_art" src="[[song.albumArt]]"></td>
                <td>[[song.title]]</td>
                <td>[[song.artist]]</td>
                <td>[[millisToMinutesAndSeconds(song.duration)]]</td>
                <td><md-button class="md-accent md-raised" ng-click="removeSong($index)">Remove From Playlist</md-button></td>
            </tr>
        </table>
    </div>

    <md-toolbar id="footer" class="md-primary md-hue-2">
        <div>
        <table style="width: 90%; font-size: 75%;">
            <tr>
                <td><img class="currently_playing_album_art" src="[[currentlyPlaying.albumArt]]"></td>
                <td>[[currentlyPlaying.title]]</td>
                <td>[[currentlyPlaying.artist]]</td>
                <td>[[currentlyPlaying.album]]</td>
                <td>[[millisToMinutesAndSeconds(currentlyPlaying.elapsed) + '/' + millisToMinutesAndSeconds(currentlyPlaying.duration)]]</td>
                <td rowspan="2" style="float: right;" ng-click="showPlaylist = !showPlaylist"><md-button>[[showPlaylist ? 'Hide' : 'Show']] Playlist</md-button></td>
            </tr>
            <tr>
                <td colspan="5"><md-progress-linear class="md-accent" md-mode="determinate" value="[[songProgress]]"></md-progress-linear></td>
            </tr>
        </table>
            <div class="md-toolbar-tools">

        </div>
        </div>

    </md-toolbar>
</div>
</body>
</html>