{% extends "jukebox/base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>VDE Jukebox</title>
</head>
<body>
    <div id="header">
        <form id="search_form" name="search_form" type="get"  style="margin: 0">
            <input id="search_box" type="text" name="search_box" placeholder="Search for a song, artist, or album.">
            <button id="search_submit" type="submit">Search</button>
        </form>
        <button id="play_button">Start Jukebox</button>
        <button id="pause_button">Play/Pause</button>
        <button id="skip_button">Skip Song</button>
    </div>
    <div id="search-results-field">
        <table id="search_results" class="table table-striped table-hover">
            <tbody></tbody>
        </table>
    </div>
    <div id="playlist-field" style="position: absolute; right: 10px; bottom: 100px; width: 35%; height: 40%; overflow: auto; display: none;">
        <table id="playlist" class="table table-inverse">
            <tbody></tbody>
        </table>
    </div>
    <div id="footer">
        <div id="currently_playing_artist"></div>
        <button id="playlist_button" style="float: right;">Show Playlist</button>
    </div>
</body>
{% endblock %}