{% extends "jukebox/base.html" %}
{% load staticfiles %}
{% block content %}
<script src="{% static 'js/song_queue.js' %}" type="text/javascript"></script>
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
{% for song in song_hits %}
    <p>
        <a class="song-list" href="/add/?song={{ song.track.storeId }}">
            <img src="{{ song.track.albumArtRef.0.url }}" class="album-art">
            <b>{{ song.track.artist }}</b> - {{ song.track.title }}
        </a>
    </p>
{% endfor %}
</body>
{% endblock %}